<?xml version="1.0" encoding="UTF-8"?>

<suite name="Test Suite">
<listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
  </listeners>
   <test name="Test-Resources">
    <classes>
      <class name="roomManager.test.admin.CreateResource" />
    </classes>
  </test>
</suite>
    
