<?xml version="1.0" encoding="UTF-8"?>

<suite name="Test Suite">
<listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
      <listener class-name="roomManager.util.ScreenShot"/>
  </listeners>
   <test name="Test-Resources-Create">
    <classes>
      <class name="roomManager.test.admin.CreateResource" />
    </classes>
  </test>
   <test name="Test-Resources-Edit">
    <classes>
      <class name="roomManager.test.admin.EditResource" />
    </classes>
  </test>
   <test name="Test-Resources-Delete">
    <classes>
      <class name="roomManager.test.admin.DeleteResource" />
    </classes>
  </test>

   <test name="Test-Locations-Create">
    <classes>
      <class name="roomManager.test.admin.CreateLocation" />
    </classes>
  </test>
   <test name="Test-Locations-Edit">
    <classes>
      <class name="roomManager.test.admin.EditLocation" />
    </classes>
  </test>
   <test name="Test-Locations-Delete">
    <classes>
      <class name="roomManager.test.admin.DeleteLocation" />
    </classes>
  </test>
  
</suite>

